# Ignore large data and output directories
dataset/**
overlays/
overlays_v1/
overlays_v2/
output/
result/
log/
Stats/dice_scores
Stats/figures
Stats/stats_output
Stats/z_TRASH
log
__pycache__
result
*.log
*.npy
*.pt
*.pkl